<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppyville!</title>

    <form method="POST" action="/new">
      <h2>Puppy name:</h2><input type="text" name="name">
      <h2>Puppy breed:</h2><input type="text" name="breed">
      <h2>Puppy age:</h2><input type="text" name="age">
      <input type="submit" value="submit">

    </form>
 </head>
 <body>


 </body>
</html>
